html{
    position: relative;
}

body {
    margin-bottom: 100px;
    background-color: black;
}


.jumbotron {
    height: 500px;
    background-image: url('../img/bg/header-bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -1200px;
    margin-top: 55px ;
    overflow: hidden;
    
}
.jumbotron img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-shadow: 1px 1px 10px rgba(0,0,0,5);
}

.jumbotron h1,.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,5);
}

.jumbotron h1{
    color: white;
}

p.lead{
    color: teal;
}

hr{
    width: 250px;
    border-top: 3px solid #999;
    margin: auto;
}

section {
    min-height: 600px;
}

.about h2, p{
    color: white;
}

.p-left, .p-right {
    opacity: 0;
    transform: translate(0, 50px);
    transition: 1s;
}

.p-right {
    transform: translate(0, 50px);
}

.p-left.pAppear, .p-right.pAppear {
    opacity: 1;
    transform: translate(0,0);
}

.portfolio{
    background-color: #eee;
}

.portfolio .img-thumbnail {
    opacity: 0;
    transform: translate(0,40px);
    transition: .5s;
}

.portfolio .img-thumbnail.appear {
    opacity: 1;
    transform: translate(0,0px);

}

.portfolio h2 {
    color: white;
}
.contact {
    min-height: 800px;
}

.contact h2{
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
}

footer p {
    color: #aaa;
    font-size: 1em;
}